.messages-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--g-400);
    padding: var(--p-400);
    border: 1px solid var(--c-n-400-d);
    list-style-type: none;
    overflow: scroll;
    height: 550px
  
}

