.messages-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--g-400);
    padding: var(--p-400);
    border: 1px solid var(--c-n-400-d);
    border-radius: var(--br-400);
    list-style-type: none;
    overflow: scroll;
    height: 550px
  
}

.message {
    align-self: flex-end;
}

.message-text {}

.message-author {
}

.message-timestamp {
    font-size: var(--fs-300);
}