@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap");

:root {
  /* Font Family */
  --ff-primary: "Golos Text", sans-serif;

  /* Font Sizes */
  --fs-300: 0.825rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;

  /* Font Weights */
  --fw-400: 400;
  --fw-700: 700;

  /* Colors */
  --c-n-400: #e7ecef;
  --c-n-400-d: #272932;

  /* Padding */
  --p-400: 20px;
  --p-300: 16px;
  --p-200: 12px;
  --p-100: 8px;
  --p-50: 4px;  

  /* Margin */
  --m-400: var(--p--400);

  /* Gaps */
  --g-400: var(--p-400);
  --g-300: var(--p-300);
  --g-200: var(--p--200);
  --g-100: var(--p-100);

  /* Border Radius */
  --br-400: 20px;
  --br-200: 10px;
}

/* Base Styles */


body {
  font-family: var(--ff-primary);
  font-size: var(--fs-600);
  background-color: var(--c-n-400);
  color: var(--c-n-400-d);
}

#root {
  max-width: 900px;
  margin: auto;
}

input[type=text], select, button {
  padding: var(--p-50);
  border-radius: var(--br-200);
  border: 1px solid var(--c-n-400-d);
}

input[type=text]:is(:focus, :active) {
  outline: transparent;
}

.container {
  border-radius: var(--br-200);
}
button:hover {
  cursor: pointer;
}

.avatar {
  width: 40px;
}